<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Poszeidon</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <%- include('header', {page: "profil",  user:data.user}) %>
    
    <main>
        <div class="container">
            <form>
                <fieldset>
                    <legend><%= data.user.username%></legend>
                    <div class="form-group row">
                        <label for="staticName" class="col-sm-2 col-form-label">Név</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticName" value="<%= data.user.name %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticNeptun" class="col-sm-2 col-form-label">Neptun Kód</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticNeptun" value="<%= data.user.neptun%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" value="<%= data.user.email %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Jelszó</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Jelszó">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPasswordRe" class="col-sm-2 col-form-label">Jelszó újra</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPasswordRe" placeholder="Jelszó újra">
                        </div>
                    </div>
                    <button type="button" class="btn btn-green">Mentés</button>
                </fieldset>
            </form>
            <h1>Megvett tantárgyak</h1>
            <div class="row">
                <div class="card col-lg-6 my-1">
                    <div class="card-body">
                        <h5 class="card-title">BSz2</h5>
                        <p class="card-text">
                            Kredit: 4
                        </p>
                        <p class="card-text">
                            <span class="float-right">Megvásárlási ár: 600cr</span>
                        </p>
                    </div>
                </div>
                <div class="card col-lg-6 my-1">
                    <div class="card-body">
                        <h5 class="card-title">Grafika</h5>
                        <p class="card-text">
                            Kredit: 3
                        </p>
                        <p class="card-text">
                            <span class="float-right">Megvásárlási ár: 600cr</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>